@model IEnumerable<StudentChoices.Models.AddCategories>
@{
    ViewBag.Title = "IndexCat";
}

<h2>Lista kategorii</h2>

<br />
<br />
<table class="table">
    <tr>
        <th>Nazwa kategorii</th>
        <th>Grupa studencka</th>
        <th>Max liczba wyborów</th>
        <th>Operacje</th>
    </tr>

    @foreach (var category in Model)
    {
        <tr>
            <td>@category.Name</td>
            <td>@category.ClassGroupID</td>
            <td>@category.MaxNoChoices</td>
            <td>
                @Html.ActionLink("Dodaj przedmiot", "AddSubSpec", "Admin", new { id = @category.CategoryID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Edytuj", "EditCategories", "Admin", new { id = @category.CategoryID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Zobacz przedmioty", "IndexSubSpec", "Admin", new { id = @category.CategoryID }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>
