@model IEnumerable<StudentChoices.Models.AddGroups>
@{
    ViewBag.Title = "Grupy";
}

<h2>Lista grup studentów</h2>

<br />
<br />
<table class="table">
    <tr>
        <th>Kierunek</th>
        <th>Stopień</th>
        <th>Tryb</th>
        <th>Semestr</th>
        <th>Specjalizacja></th>
    </tr>

    @foreach (var groups in Model)
    {
        <tr>
            <td>@groups.DegreeCourse</td>
            <td>@groups.Graduate</td>
            <td>@groups.FullTimeStudies</td>
            <td>@groups.Semester</td>
            <td>@groups.Speciality</td>
            <td>
                @Html.ActionLink("Edytuj", "EditGroups", "Admin", new { id = @groups.ClassGroupID }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>

