@model IEnumerable<StudentChoices.Models.ClassGroups>
@{
    ViewBag.Title = "MakeChanges";
}

<h2>Zmiany w wynikach rekrutacji</h2>

<br />
<div class="panel-body">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-sm-12">
                <h5><b>Grupa studencka:</b></h5>
            </div>
        </div>
                            <div class="row">
                                <div class="col-sm-8" style="padding-bottom:10px">
                                    @Html.DropDownList("ClassGroups", (SelectList)Session["ClassGroups"], htmlAttributes: new { @class = "form-control", @style = "display:inline-table;max-width: none" })
                                </div>
                                <div class="col-sm-2" style="text-align:center">
                                    <input type="submit" value="Zmień" formaction='@Url.Action("ChangeClassGroup", "Admin")' class="btn btn-default btn-default-main" />
                                </div>
                                <div class="col-sm-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5><b>Kategoria:</b></h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8" style="padding-bottom:10px">
                                    @Html.DropDownList("Categories", (SelectList)Session["Categories"], htmlAttributes: new { @class = "form-control", @style = "display:inline-table; max-width: none" })
                                </div>
                                <div class="col-sm-2" style="text-align:center">
                                    <input type="submit" value="Zmień" formaction='@Url.Action("ChangeCategory", "Admin")' class="btn btn-default btn-default-main" />
                                </div>
                                <div class="col-sm-2"></div>
                            </div>
                            <!-- test
                            <div>
                                @foreach (var item in (Dictionary<string, int>)Session["Stats"])
                                {
                                    <b>@item.Key</b>
                                    <table>
                                        <tr>
                                            <td>nr indeksu</td>
                                            <td>imię i nazwisko</td>
                                            <td>średnia</td>
                                            <td>przenieś do:</td>
                                        </tr>
                                        <tr>
                                            <td>123457</td>
                                        </tr>

                                    </table>
                                }
                            </div>
                                -->

        <b>Programowanie współbieżne</b>
        <table class="table">
            <tr>
                <td>nr indeksu</td>
                <td>imię i nazwisko</td>
                <td>średnia</td>
                <td></td>
            </tr>
            <tr>
                <td>123457</td>
                <td>Adam Mak</td>
                <td>4,01</td>
                <td>
                    <div class="col-sm-2" style="text-align:center">
                        <input type="submit" value="Przenieś" formaction='@Url.Action("MakeChanges2", "Admin")' class="btn btn-default btn-default-main" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>123466</td>
                <td>Michał Winiarski</td>
                <td>4,9</td>
                <td>
                    <div class="col-sm-2" style="text-align:center">
                        <input type="submit" value="Przenieś" formaction='@Url.Action("MakeChanges2", "Admin")' class="btn btn-default btn-default-main" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>123480</td>
                <td>Adam Kobiałka</td>
                <td>4,83</td>
                <td>
                    <div class="col-sm-2" style="text-align:center">
                        <input type="submit" value="Przenieś" formaction='@Url.Action("MakeChanges2", "Admin")' class="btn btn-default btn-default-main" />
                    </div>
                </td>
            </tr>

        </table>
        <hr />
        <b>Protokoły komunikacyjne</b>
        <table class="table">
            <tr>
                <td>nr indeksu</td>
                <td>imię i nazwisko</td>
                <td>średnia</td>
                <td></td>
            </tr>
            <tr>
                <td>123459</td>
                <td>Anna Wilk</td>
                <td>4,4</td>
                <td>
                    <div class="col-sm-2" style="text-align:center">
                        <input type="submit" value="Przenieś" formaction='@Url.Action("MakeChanges2", "Admin")' class="btn btn-default btn-default-main" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>123471</td>
                <td>Marcelina Las</td>
                <td>4,8</td>
                <td>
                    <div class="col-sm-2" style="text-align:center">
                        <input type="submit" value="Przenieś" formaction='@Url.Action("MakeChanges2", "Admin")' class="btn btn-default btn-default-main" />
                    </div>
                </td>
            </tr>
            
        </table>
        <hr />
        <b>Programowanie robotów</b>
        <table class="table">
            <tr>
                <td>nr indeksu</td>
                <td>imię i nazwisko</td>
                <td>średnia</td>
                <td></td>
            </tr>
            <tr>
                <td>123458</td>
                <td>Jan Kot</td>
                <td>4</td>
                <td>
                    <div class="col-sm-2" style="text-align:center">
                        <input type="submit" value="Przenieś" formaction='@Url.Action("MakeChanges2", "Admin")' class="btn btn-default btn-default-main" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>123456</td>
                <td>Jan Nowak</td>
                <td>4,02</td>
                <td>
                    <div class="col-sm-2" style="text-align:center">
                        <input type="submit" value="Przenieś" formaction='@Url.Action("MakeChanges2", "Admin")' class="btn btn-default btn-default-main" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>123455</td>
                <td>Marek Lis</td>
                <td>4,34</td>
                <td>
                    <div class="col-sm-2" style="text-align:center">
                        <input type="submit" value="Przenieś" formaction='@Url.Action("MakeChanges2", "Admin")' class="btn btn-default btn-default-main" />
                    </div>
                </td>
            </tr>

        </table>
    }

</div>


