@if (Session["User"] != "")
{
    using (Html.BeginForm("LogOff", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

                <ul class="nav navbar-nav navbar-right">
                    @if (Session["User"] != "Student")
                    {
                        <li class="dropdown" style="min-width:121px">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Zarządzaj!
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu-main" style="width:inherit;text-align:left;">
                                <li>@Html.ActionLink("Importuj dane", "Index", "Home")</li>
                                <li>@Html.ActionLink("Dodaj dane", "AddData", "Admin")</li>
                                <li>@Html.ActionLink("Edytuj dane", "EditData", "Admin")</li>
                                <li>@Html.ActionLink("Zmień hasło", "ChangePass", "Admin")</li>
                                @if (Session["User"] == "SuperAdmin")
                                {
                                    <li>@Html.ActionLink("Administatorzy", "Index", "Home")</li>
                                }
                            </ul>
                        </li> 
                    }
                    <li style="background-color:transparent">
                        <a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-log-out"></span> Wyloguj</a>
                    </li>
                </ul>
         

    }
}
