@if (Session["User"] != null)
{
    using (Html.BeginForm("LogOff", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            @if (Session["User"] != "Student")
            {
                <li style="width:140px; text-align:center">
                  <a>Zarządzaj!</a>
                  <ul class="nav">
                      <li>@Html.ActionLink("Importuj dane", "Edit", "Account")</li>
                      <li>@Html.ActionLink("Dodaj dane", "Edit", "Account")</li>
                      <li>@Html.ActionLink("Edytuj dane", "Edit", "Account")</li>
                      <li>@Html.ActionLink("Zmień hasło", "Edit", "Account")</li>
                      @if (Session["User"] == "SuperAdmin")
                      {
                        <li>@Html.ActionLink("Administatorzy", "Edit", "Account")</li>
                      }
                  </ul>
                </li>
            }

            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>
            </li>
        </ul>
    }
}
